*{margin: 0px;padding: 0px;list-style: none;}
a{text-decoration: none;color: black;}
#wrap{width: 1064px;margin: 0 auto ;}
/*登录界面的顶部*/
#wrap .top{width: 1064px;height: 95px;}
#wrap .top div{float: left;}
#wrap .top .logol{height: 95px;width: 340px;background: url(../img/2qqw6hbf.bmp);background-repeat: no-repeat;background-position: 0px 12px;}
#wrap .top .log_saying{margin-top: 34px;border-left: 1px solid #dddddd;text-indent: 15px;color: #bfa699;}
#wrap .top .log_saying span:nth-child(2){color: #fd6b1b;}
#wrap .top ul{float: right;width: 439px;height: 95px;padding: 47px 43px 47px 43px;box-sizing: border-box;}
#wrap .top ul li{width: 105px;height: 30px;float: left;margin-right: 18px;line-height: 30px;text-align: center;color: #999999;}
#wrap .top ul li:nth-child(3){margin-right: 0px;}
#wrap .top ul li i{float: left;width: 30px;height: 30px;background: url(../img/icon_bg.png);background-position: 0px 0px;background-size: 600%;}
#wrap .top ul li:nth-child(1) i{background-position: 0px -36px;}
#wrap .top ul li:nth-child(2) i{background-position: -36px -36px;}
#wrap .top ul li:nth-child(3) i{background-position: -72px -36px;}

/*登录界面的中间部分*/
#wrap .center{width: 1064px;height: 537px;}
#wrap .center .center_left{width: 60%;height: 100%;float: left;background: url(../img/222.png);}
#wrap .center .center_right{width: 40%;height: 100%;float: right;padding: 66px 47px 72px 0px;box-sizing: border-box;}
#wrap .center .center_right form{width: 320px;height: 399px;}
#wrap .center .center_right form .welcome{height: 30px;line-height: 30px;font-size: 15px;}
#wrap .center .center_right form div{position: relative;}
#wrap .center .center_right form p:nth-child(1) span:nth-child(2){margin-left: 30px;font-size: 10px;}
#wrap .center .center_right form p:nth-child(1) a{color: #fd6b1b;font-size: 13px;}
#wrap .center .center_right form input{border-radius: 4px;height: 30px;margin-bottom: 25px;border: 1px solid #b2b2b2;padding-left: 15px;box-sizing: border-box;}
#name input{width: 295px;margin-top: 10px;}
#wrap .center .center_right .keyword{width: 295px;}
.code{width: 170px;float: left;border: 1px solid #b2b2b2;}
#wrap .center .center_right .code_value{width: 110px;height: 30px;border: 1px solid #84ac7c;float: left;margin-left: 12px;text-align: center;line-height: 30px;}
#wrap .center .center_right .photo{width: 60px;}
#wrap .center .center_right .phone{background: #999999;cursor: pointer;}
#wrap #but{height: 40px;width: 295px;background: #e4393c;line-height: 40px;text-align: center;color: white;border: none;cursor: pointer;border-radius: 5px;margin-bottom: 10px;}
#wrap #keep_name{margin: 0px 6px 0px 0px;float: left;}
#wrap .center .center_right .help{height: 20px;font-size: 10px;margin-bottom: 35px;}
#wrap .center .center_right .help span{float: left;}
#wrap .center .center_right .help a{float: right;color: red;}
/*登录界面的尾部*/
#wrap .footer{width: 1004px;height: 59px;text-align: center;font-size: 10px;line-height: 30px;padding: 30px;}
#name span{

	position: absolute;
	right: -160px;
	top: 10px;
	color: red;
	display: none;
}
#key span{

	position: absolute;
	right: -160px;
	top: 0px;
	color: red;
	display: none;
}
#again_key span{

	position: absolute;
	right: -260px;
	top:0px;
	color: red;
	display: none;
}